.container {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 0;
    min-height: calc(100% + 1rem);
    font-size: 1.1rem;
}

.valueButton {
    display: none;
}

.container:hover .valueButton {
    display: inline-block;
}

.label {
    font-weight: bold;
}
